@import "imports"

@keyframes arrow-bounce-left
	0%
		transform translateX(0px)
	50%
		transform translateX(5px)
	100%
		transform translateX(0px)
@keyframes arrow-bounce-right
	0%
		transform translateX(0px)
	50%
		transform translateX(-5px)
	100%
		transform translateX(0px)

#header-menu
	position fixed
	z-index zIndexSiteMenu

	box-sizing border-box
	padding-left headerPaddingLeft
	width 100%

	will-change transform, opacity

	transition opacity 0.5s easeOutCubic
	// +below(768px)
	// 	transform translateY(50px) !important
		
	&.impressum-showing
		opacity 0

	#filter-button
		margin-left 1.25em
		height 1.45em
		display table
		width 200px

		transition transform 0.6s easeInOutCubic // easing and timing taken from SiteMenuItem

		+below(mobile)
			display none

		> svg
			width 3.125em
			height 100%
			float left
			margin-right 1em

			.left-arrow
				transform-origin 100% 50%
				transition transform 1s easeInOutExpo

				transform scale(0, 0)
			.right-arrow
				transform-origin 0% 50%
				transition transform 1s easeInOutExpo

		span
			font-size 0.85em
			letter-spacing 0.08em
			padding-top 0.2em
			display table
			clear right

		&.filter-mode
			.left-arrow
				transform scale(1, 1)
			.right-arrow
				transform scale(0, 0)

		&:hover
			> svg
				animation arrow-bounce-left 1s easeInOutCubic infinite
			&.filter-mode
				> svg
					animation arrow-bounce-right 1s easeInOutCubic infinite

			


	ul#header-list
		position absolute
		z-index zIndexSiteMenu + 1
		width 0px

		+below(mobile)
			transition transform 0.8s easeInOutExpo
			&.filter-mode
				transform translateX(-300px)
		a
			display table
			text-decoration none

			&.text
				padding-top 0.25em
			&.text ~ .text
				padding-top 0em
			li
				backface-visibility hidden

				display table
				position relative

				text-transform uppercase
				white-space nowrap

				cursor pointer

				font-size 3.5em
				line-height 1.175em

				transition opacity 0.4s easeInOutCubic

				*
					pointer-events none

				&[type=text], &[type=social]
					font-size 1.9em
					line-height 1.8em
					padding-left 0.180em

				.button-animation-1-context
					display table
					position relative

					&:after
						width 50%
						height 2px
						background white
						position absolute
						z-index 4
						top 54%

						transition width 0.4s easeInOutCubic

				.label
					padding 0px 0.4em
					position relative

					will-change opacity, transform

					> span
						font-size 0.5em
						position relative
						top -0.7em
						height 1em
						display inline-block

				.line
					width 0%
					height 2px
					background white
					position absolute
					z-index 4
					top 54%

					transition width 0.4s easeInOutCubic




			&.filtered-out
				li
					opacity 0.3

					cursor default

					.line
						width 100%
	
	// header states
	&.hidden
		#filter-button
			transform translateX(-250px)
