	@import "imports"

_area = 3.4375em

ul#filter-list
	position fixed
	top 2.25em
	right 2.1875em

	width 12.5em
	height auto

	z-index zIndexSiteMenu

	transform translate3d(260px, 0px, 0px)
	transition transform 0.4s easeInOutExpo

	&.visible
		transform translate3d(0px, 0px, 0px)

		li
			transform translateX(0px)

			.checkbox
				svg.outline g
					transform scale(1, 1) !important

			&:hover
				span
					transition-delay 0s !important
					transform translateX(5px)

			&.checked
				svg.check
					transform scale(1, 1) !important
					opacity 1 !important

					> g
						transform rotate(0deg) !important

			&:hover
				svg.check
					transform scale(1, 1) !important
					opacity 0.6

					> g
						transform rotate(0deg) !important

			&:active
				svg.check
					transform scale(0.5, 0.5) !important
					opacity 0.6

	li
		height _area
		width 100%
		margin-bottom 15px
		position relative

		transform translateX(260px)

		transition transform 0.4s easeInOutExpo

		for index in 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
			&:nth-child({index})
				delay = (index * 0.04)s
				transition-delay delay

				span
					transition-delay delay + 0.45s

				.checkbox
					svg.outline
						g.left
							transition-delay delay + 0.45s
						g.right
							transition-delay delay + 0.25s
						g.top, g.bottom
							transition-delay delay + 0.35s

		span
			width 140px
			text-align right
			height _area
			position absolute
			right 4.375em
			top 1.25em
			font-size 1.2em
			transition transform 0.4s easeOutExpo

			&:first-letter
				text-transform uppercase

			+below(desktopSmall)
				font-size 1.6em

		.checkbox
			backface-visibility hidden
			box-sizing border-box
			width _area
			height _area
			position absolute
			right 0px

			svg.outline
				width _area
				height _area

				g
					transition transform 0.5s easeOutExpo

				g.left
					transform scale(1, 0)
					transform-origin 50% 50%
					transition-delay 0.6s
				g.right
					transform scale(1, 0)
					transform-origin 50% 50%
					transition-delay 0.1s
				g.top, g.bottom
					transform scale(0, 1)
					transform-origin 100% 50%
					transition-delay 0.2s
				
					transform scale(0, 1)
					transform-origin 100% 50%
					transition-delay 0.2s

			svg.check
				width _area * 0.25
				height _area * 0.25
				transition transform 0.3s easeOutExpo, opacity 0.3s easeOutExpo
				transform-origin 50% 50%
				transform scale(0, 0)

				> g
					transform-origin 50% 100%
					transition transform 2s easeOutExpo

					&.left
						transform rotate(-15deg)

					&.right
						transform rotate(15deg)

