@import "imports"

#intro-context
	position fixed
	pointer-events none
	z-index zIndexSiteMenu - 1
	width 100%
	height 0%
	
	&.done
		pointer-events auto
		cursor pointer
		
		.logo
			clip rect(60px, 210px, 96px, 60px)

	.logo
		position absolute
		left 0px
		right 0px
		margin auto

		.logo-step-1 path // whitebar
			transform-origin 70px 0px 0px
			transform scale(1, 1)
		

		.logo-step-2
			> *
				display none
		
		.logo-step-1_5
			> *
				transform-origin 200px 120px 0px
				transform scale(0,0)
				transition transform 0.6s easeOutExpo 0s
				
			.logo-bar-letters
				transform scale(1,1)

	.intro-text
		pointer-events none
		line-height 1.2em
		box-sizing border-box
		text-align center
		font-size 1.8em
		position fixed
		height 4.5em
		color white
		width 17.5em
		bottom 0px
		margin auto
		right 0px
		left 0px
		top 0px
		
		+below(mobileBig)
			font-size 2.7em
			height 6em
			padding 0px 20px
			width 100%

		p
			font-style italic
			font-weight 100

			transform scale(0.5, 0.1)
			opacity 0
			transform-origin 50% 50%

			transition transform 0.6s easeOutExpo 0s, opacity 0.6s easeOutExpo 0s
			&:nth-child(2)
				transition transform 0.6s easeOutExpo 0.05s, opacity 0.6s easeOutExpo 0.05s
			&:nth-child(3)
				transition transform 0.6s easeOutExpo 0.1s, opacity 0.6s easeOutExpo 0.1s
			&:nth-child(4)
				transition transform 0.6s easeOutExpo 0.15s, opacity 0.6s easeOutExpo 0.15s
			

		&.show
			
			p
				transform scale(1, 1)
				opacity 1

	&.step1
		.logo-step-1_5 .logo-relax // whitebar
			transform scale(1,1)
	
	&.step2
		.logo-step-1_5 .logo-we // whitebar
			transform scale(1,1)
	
	&.step3
		.logo-step-1_5 .logo-are // whitebar
			transform scale(1,1)
	
	&.step4
		.logo-step-1_5 .logo-the // whitebar
			transform scale(1,1)
	
	&.step5
		.logo-step-1_5 .logo-good // whitebar
			transform scale(1,1)
	
	&.step6
		.logo-step-1_5 .logo-guys // whitebar
			transform scale(1,1)
		
	&.step7
		.logo-step-1 path // whitebar
			transform scale(0.8, 1) 	// r

	&.step8
		.logo-step-1 path // whitebar
			transform scale(0.6, 1) 	// rw

	&.step9
		.logo-step-1 path // whitebar
			transform scale(0.5, 1) 	// rwa

	&.step10
		.logo-step-1 path // whitebar
			transform scale(0.366, 1) 	// rwat

	&.step11
		.logo-step-1 path // whitebar
			transform scale(0.366, 1) 	// rwat

	&.step12
		.logo-step-1 path // whitebar
			transform scale(0.2, 1) 	// rwatg

	&.step13
		.logo-step-1 path // whitebar
			transform scale(0.01, 1) 	// rwatgg

	&.step14
		.logo-step-2 // lines
			.logo-bar3 // 0 from bottom
				display block
		.logo-step-1_5 // words
			.logo-guys
				display none

	&.step15
		.logo-step-2 // lines
			.logo-bar2 // 1 from bottom
				display block
		.logo-step-1_5 // words
			.logo-the, .logo-good
				display none

	&.step16
		.logo-step-2 // lines
			.logo-bar1 // 2 from bottom
				display block
		.logo-step-1_5 // words
			.logo-we, .logo-are
				display none

	&.step17
		.logo-step-2 // lines
			.logo-bar0 // 3 from bottom aka top
				display block
		.logo-step-1_5 // words
			.logo-relax
				display none

	&.step18
		.logo-step-2 // lines
			.logo-bar3 // 0 from bottom
				display none

	&.step19
		.logo-step-2 // lines
			.logo-bar2 // 1 from bottom
				display none

	&.step20
		.logo-step-2 // lines
			.logo-bar1 // 2 from bottom
				display none

	&.step21
		.logo-step-2 // lines
			.logo-bar0 // 3 from bottom aka top
				display none
