@import "imports"

caseSectionTransformMixin()
	transition transform 0s easeInOutExpo
	will-change transform
	transform-origin 0% 50%
	backface-visibility hidden

.page.case, .page.text	
	width 100%
	max-width 75em
	margin auto
	left 0px
	right 0px
	box-sizing border-box

	padding-right 13em

	+below(desktopSemiSmall)
		padding-right 3em

	padding-left headerPaddingLeft

	margin auto

	position fixed

	section.content
		
		margin-bottom 8em

		will-change transform

		&:first-child
			margin-top 12em

		h1
			font-size 2em
			text-align center
			margin-bottom 1.5em
			margin-top 2.5em

			line-height 1.1em
			padding 0px 6em

			+below(desktopSemiSmall)
				font-size 18px
				padding 0px 2em

			caseSectionTransformMixin()
			transition-delay 0.1s

		p
			line-height 1.5em
			font-weight 100
			letter-spacing 0.02em

		&.show
			section
				&.gallery
					> img, > iframe
						transform translateX(0px) rotateX(0deg) scale(1, 1) !important
						+below(mobile)
							transform translateX(0px) rotateX(0deg) scale(1, 1) !important

				&.text
					transform translateX(0px) rotateX(0deg) scale(1, 1) !important

			h1
				transform translateX(0px) rotateX(0deg) scale(1, 1) !important
			

		&.visible
			section
				&.gallery
					> img, > iframe
						transition-duration 0.6s !important
				&.text
					transition-duration 0.6s !important

			h1
				transition-duration 0.6s !important


		section
			display table

			// general gallery styles, more specific ones, find below ->
			&.gallery
				min-height 100px
				width 100%
				position relative
				transform translate3d(0, 0, 0)
				backface-visibility hidden
				will-change transform

				perspective 2000

				+below(mobile)
					overflow hidden

				> img, > iframe
					position absolute

					+above(mobile + 1)
						box-shadow 5px 5px 0px rgba(0, 0, 0, 0.2)

					caseSectionTransformMixin()

					+below(desktopSmall)
						opacity 0
						transform translateY(0px)

					for num in 1..5
						&:nth-child({num})
							transition-delay (num * 0.05)s
							z-index 6 - num

					&.mobile-prep-animate-in
						transition opacity 1s easeOutCubic
						opacity 0

					&.mobile-animate-in
						opacity 1

					&.fade-out
						opacity 0

					&:hover
						z-index 20

					&.selected
						z-index 21
						left 0px !important
						top 0px !important

			&.text
				padding 0px 8em
				box-sizing border-box

				caseSectionTransformMixin()

				transition-delay 0.2s

				+below(desktopSmall)
					padding 0px 2em
					opacity 1
					transform translateY(0px)

				a, p, span
					font-size 0.8rem
					line-height 1.4rem

				> div
					width 50%
					float left
					line-height 1.4em
					box-sizing border-box

					&.full-width
						width 100%
						max-width 620px

					+below(desktopSmall)
						width 100%
						float none

					+above(desktopSmall)
						&:nth-child(1)
							padding-right 1em
						&:nth-child(2)
							padding-left 1em

						strong
							&:nth-child(1) // prevent first strong child to have a 
								margin-top 0em

					strong
						margin 1em 0em
						padding-bottom 0px
						margin-bottom 0px
						display table
						text-transform uppercase

					a
						text-decoration underline !important
						color white !important
						
