<!--
	  ___           ___           ___       ___           ___     
	 /\  \         /\  \         /\__\     /\  \         |\__\    
	/::\  \       /::\  \       /:/  /    /::\  \        |:|  |   
   /:/\:\  \     /:/\:\  \     /:/  /    /:/\:\  \       |:|  |   
  /::\~\:\  \   /::\~\:\  \   /:/  /    /::\~\:\  \      |:|__|__ 
 /:/\:\ \:\__\ /:/\:\ \:\__\ /:/__/    /:/\:\ \:\__\ ____/::::\__\
 \/_|::\/:/  / \:\~\:\ \/__/ \:\  \    \/__\:\/:/  / \::::/~~/~   
	|:|::/  /   \:\ \:\__\    \:\  \        \::/  /   ~~|:|~~|    
	|:|\/__/     \:\ \/__/     \:\  \       /:/  /      |:|  |    
	|:|  |        \:\__\        \:\__\     /:/  /       |:|  |    
	 \|__|         \/__/         \/__/     \/__/         \|__|

, we are the good guys
-->

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

		<% /* Update your html tag to include the itemscope and itemtype attributes. */ %>
		<html itemscope itemtype="http://schema.org/Article">

		<% /* Place this data between the <head> tags of your website */ %>
		<title>Title..</title>
		<meta name="description" content="..." />

		<% /* Google Authorship and Publisher Markup */ %>
		<link rel="author" href="Relax, we are the good guys"/>
		<link rel="publisher" href=""/>

		<% /* Schema.org markup for Google+ */ %>
		<meta itemprop="name" content="">
		<meta itemprop="description" content="...">
		<meta itemprop="image" content="">

		<% /* Twitter Card data */ %>
		<meta name="twitter:card" content="...">
		<meta name="twitter:site" content="...">
		<meta name="twitter:title" content="...">
		<meta name="twitter:description" content="...">
		<meta name="twitter:creator" content="...">
		<% /* Twitter summary card with large image must be at least 280x150px */ %>
		<meta name="twitter:image:src" content="">

		<% /* Open Graph data */ %>
		<meta property="og:title" content="..." />
		<meta property="og:type" content="website" />
		<meta property="place:location:latitude"  content="latitude"> 
		<meta property="place:location:longitude" content="longitude">
		<meta property="og:url" content="..." />

		<% /* Facebook: Standards vary, but an image at least 200x200px works best. Facebook recommends large image s 	up to 1200px wide. */ %>
		<meta property="og:image" content="" />
		<meta property="og:description" content="..." />
		<meta property="og:site_name" content="" />

		<link rel="author" href=""/>
		<link rel="publisher" href=""/>

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

		<% /* add livereload for development environment */ %>
		<% if(env == "development") { %>
			<script src="http://localhost:35729/livereload.js"></script>
		<% } %>

		<% /* add scripts to dom, #TODO: add concatenated files when not env=development */ %>
		<% scripts.forEach(function(el, index) { %>
			<script src='<%= el %>'></script>
		<% }); %>

		<% /* page json for first page load */ %>
		<% try{ %>
			<script>
				var initialPageJSON = <%- pageJSON %>;
				var routes = <%- routes %>;
			</script>
		<% }catch(error){ %>
		<% } %>

		<% /* add styles to dom, #TODO: add concatenated files when not env=development */ %>
		<% styles.forEach(function(el, index) { %>
			<link href="<%= el %>" rel="stylesheet" type="text/css">
		<% }); %>

		<style>
			#header-menu{
				opacity: 0;
			}

		</style>

	</head>


	<body>
		<script type="text/template" class="template-default">
			<%- partial("partials/templates/default", {open: "{{", close: "}}"}) %>
		</script>

		<script type="text/template" class="template-text">
			<%- partial("partials/templates/text", {open: "{{", close: "}}"}) %>
		</script>

		<script type="text/template" class="template-case">
			<%- partial("partials/templates/acase", {open: "{{", close: "}}"}) %>
		</script>

		<% /* add the menu */ %>
		<% include menu/headerMenu %>

		<div id="pseudo-scroll"></div>

		<div id="intro-context">
			<% include partials/svg/logo.svg %>
			<div class="intro-text">
<p>We create and execute digital concepts</p>
<p>- we work together with friends all</p>
<p>over the world to help us make our</p>
<p>ideas come alive.</p>
			</div>
		</div>

		<% /* template content, SEO loves this!! */ %>
		<div id="page-content">
			<%- body %>
		</div>


		<div id="color-background"></div>
			
		<% include menu/footer %>


		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', '<%= googleAnalyticsID %>', {
				'cookieDomain': 'none'
			});
		  ga('send', 'pageview');

		</script>
	</body>
</html>
