<% if(data && data.content) { %>
	<% _.each(data.content, function(content, index) { %>

		<section class="content">
			<% if(content && content.gallery && content.gallery.length > 0) { %>
				<section class="gallery">
					<% if(content.videoIFrame){ %>
						<%- content.videoIFrame %>
					<% } %>
					<% _.each(content.gallery, function(image, index) { %>
						<img src='<%= image.url %>' width='<%= image.width %>' height='<%= image.height %>' />
					<% }); %>
				</section>
			<% } %>
			
			<h1 class="color-theme--color"><%- content.headline %></h1>

			<section class="text">
				<% /* two columns*/ %>
				<% if(content.text && content.text.left.length > 0 && content.text.right.length > 0) { %>
					<div class="color-theme--color"><%- content.text.left %></div>
					<div class="color-theme--color"><%- content.text.right %></div>
				<% } %>
				<% /* one columns*/ %>
				<% if(content.text && content.text.left.length > 0 && content.text.right.length == 0) { %>
					<div class="color-theme--color full-width"><%- content.text.left %></div>
				<% } %>
			</section>
		</section>

	<% }); %>
<% } %>
