<div>
	<section class="content">
		<section class="gallery">
			<img class="color-theme--background" src='/images/test/katvig1.jpg' width="2012px" height="1039px" />
			<img class="color-theme--background" src='/images/test/katvig2.jpg' width="2010px" height="1051px"/>
			<img class="color-theme--background" src='/images/test/katvig3.jpg' width="2012px" height="988px"/>
		</section>
		
		<h1 class="color-theme--color">Katvig Brand Website</h1>
		<h2 class="color-theme--color">Another CPH</h2>

		<section class="text">
			<div class="color-theme--color full-width"><p>The 2nd Amazing Everyday campaign for Nokia in collaboration with Distortion Festival involved 6 savvy party goes commissioned with the new Nokia Lumia 900, who through a 5 days Festival documented the insane moments of the street festival.</p></div>
		</section>
	</section>


	<section class="content">
		<section class="gallery">
			<img class="color-theme--background" src='/images/test/acne1.jpg' width="2012px" height="1039px" />
			<img class="color-theme--background" src='/images/test/acne2.jpg' width="1605px" height="1616px"/>
			<img class="color-theme--background" src='/images/test/acne3.jpg' width="2010px" height="1187px"/>
			<img class="color-theme--background" src='/images/test/acne2.jpg' width="1605px" height="1616px"/>
		</section>
		
		<h1 class="color-theme--color">Acne test</h1>

		<section class="text">
			<div class="color-theme--color full-width"><p>The 2nd Amazing Everyday campaign for Nokia in collaboration with Distortion Festival involved 6 savvy party goes commissioned with the new Nokia Lumia 900, who through a 5 days Festival documented the insane moments of the street festival.</p></div>
		</section>
	</section>



	<section class="content">
		<section class="gallery">
			<iframe class="color-theme--background" src="/images/test/katvig.html" width="2012" height="1040" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<img class="color-theme--background" src='/images/test/katvig4.jpg' width="2012px" height="1244px" />
			<img class="color-theme--background" src='/images/test/katvig5.jpg' width="2010px" height="1051px"/>
			<img class="color-theme--background" src='/images/test/katvig6.png' width="2012px" height="1095px"/>
		</section>
		
		<h1 class="color-theme--color"></h1>

		<section class="text">
			<div class="color-theme--color full-width"><p>The 2nd Amazing Everyday campaign for Nokia in collaboration with Distortion Festival involved 6 savvy party goes commissioned with the new Nokia Lumia 900, who through a 5 days Festival documented the insane moments of the street festival. More than 150 videos were prod¨uced with geo tags and presented as a heat vmap visualizing the DNA of the street party</p></div>
		</section>
	</section>




	<section class="content">
		<section class="gallery">
			<img class="color-theme--background" src='/images/test/katvig7.png' width="2103px" height="1546px" />
		</section>
		
		<h1 class="color-theme--color"></h1>

		<section class="text">
			<div class="color-theme--color full-width"><p>The 2nd Amazing Everyday campaign for Nokia in collaboration with Distortion Festival involved 6 savvy party goes commissioned with the new Nokia Lumia 900, who through a 5 days Festival documented the insane moments of the street festival. More than 150 videos were produced with geo tags and presented as a heat map visualizing the DNA of the street party. 
The 2nd Amazing Everyday campaign for Nokia in collaboration with Distortion Festival involved 6 savvy party goes commissioned with the new Nokia Lumia 900, who through a 5 days Festival documented the insane moments of the street festival. </p></div>
		</section>
	</section>



	<section class="content">
		<h1 class="color-theme--color">Credits</h1>

		<section class="text">
			<div class="color-theme--color"><p>Technical Lead / Development : Relax, we are the good guys

Creative Direction : 
Anders Højland Mikkelsen & IAMPELLE</p></div>

			<div class="color-theme--color"><p>Agency: 
RWATGG
</p></div>
		</section>
	</section>
</div>




