<div id="footer">
	<% _.each(menu["text pages"], function(el, index) { %>
		<% if(el.key == 'impressum'){ %>
			<a href="/<%= el.key %>">
				<div class="label color-theme--color"><%= el.name %></div>
			</a>

		<% } %>
	<% }); %>
</div>
