<header id="header-menu">
	<div id="filter-button" class="button">
		<% include ../partials/svg/filter-arrow.svg %>
		<span class="color-theme--color" data-label="Filter client list" data-alt-label="Full client list"></span>
	</div>
	<ul id="header-list">
		<%
			// sort cases by name
			var cases = menu["cases"].sort(function(a, b)
			{
				if (a.name < b.name) { 
					return -1;
				} else if (a.name > b.name) {
					return 1;
				} else {
					return 0;
				}
			}); 
		%>
		<% _.each(cases, function(el, index) { %>
			<a href="/work/<%= el.key %>" data-color="<%= el.color %>" data-filters="<%= el.filters %>">
				<li type="case">
					<div class="button-animation-1-context">
						<% if(el.content.length > 1) { %>
							<div class="label color-theme--color"><%= el.name %> <span>(<%= el.content.length %>)</span></div>
						<% }else{ %>
							<div class="label color-theme--color"><%= el.name %></div>
						<% } %>

						<div class="line"></div>
					</div>
				</li>
			</a>
		<% }); %>

		<% _.each(menu["text pages"], function(el, index) { %>
			<% if(el.key != 'impressum'){ %>
				<a href="/<%= el.key %>" class="text">
					<li type="text">
						<div class="button-animation-1-context">
							<div class="label color-theme--color"><%= el.name %></div>
						</div>
					</li>
				</a>

			<% } %>
		<% }); %>

		<% _.each(menu["social"], function(el, index) { %>
			<a href="<%= el.link %>" class="social">
				<li type="social">
					<div class="button-animation-1-context">
						<div class="label color-theme--color"><%= el.name %></div>
					</div>
				</li>
			</a>
		<% }); %>
	</ul>
	<ul id="filter-list">
		<% _.each(menu["filter-types"], function(el, index) { %>
			<li data-value="<%= el.key %>" class="button">
				<span class="color-theme--color"><%= el.name %></span>
				<div class="checkbox">
					<% include ../partials/svg/checkbox-arrow.svg %>
					<% include ../partials/svg/checkbox-outline.svg %>
				</div>
			</li>
		<% }); %>
	</ul>
</header>
