// Partials
@import "imports"

global-reset()

body, html
	width 100%
	height 100%

	// overflow-x hidden

body
	// overflow-x hidden

	font-family Georgia
	font-style italic

	font-size 16px // 1em = 16px
	line-height 1em

	+below(desktopSmall)
		font-size 0.7em

	+below(mobileBig)
		font-size 0.4em


#page-content
	position relative
	z-index zIndexPageContent


canvas#wires
	position fixed
	z-index 1
	top 0px
	opacity 0.7

// body.localhost
// 	canvas#wires
// 		display none


#color-background
	position fixed
	width 100%
	height 100%
	z-index 0
	top 0px
	left 0px
	// transition background colorTweenTime easeOutCubic, color colorTweenTime easeOutCubic
	// default color
	background black
	color white

	&.color-white
		background white
		color black

p
	font-style normal

body
	.color-theme--color, a, a:visited
		color white
	.color-theme--background
		background black
	.color-theme--fill
		fill white

	&.color-white
		.color-theme--color, a, a:visited
			color black
		.color-theme--background
			background white
		.color-theme--fill
			fill black

		#intro-context .logo .logo-bar-letters
			polygon, path
				fill black



ul, li
	list-style none
	padding 0px
	margin 0px

#pseudo-scroll
	width 1px
	display table
	position absolute
	z-index 0

.button
	cursor pointer


.center
	position absolute
	left 0px
	top 0px
	bottom 0px
	right 0px
	margin auto


.button-animation-1-context
	position absolute
	top 0px
	bottom 0px

	height 100%
	width 100%

	> *
		position absolute
		top 0px

	.background
		z-index 1
		opacity 0
		width 100%
		height 100%
		background #ffffff
		will-change opacity

	.label
		z-index 3

	.svg
		z-index 2

